@import './variable';
@import './font';
@import './mixin';

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    @media (min-width :map-get($breakpoints, xxl)) {
        max-width: 1200px !important;
    }
}

.header {
    .navbar-container {
        margin-inline: 80px;

        @media (max-width:map-get($breakpoints, sm)) {
            margin-inline: -24px;
        }
    }

    .pantoHeader {
        font-family: 'Gilroy-Bold';
        padding-top: 40px;

        @media (max-width:map-get($breakpoints, sm)) {
            padding: 40px 50px 00px 50px !important;
        }

        .navbar-toggler-icon {
            background-color: $primary-color;
        }

        .pantoTitle {
            font-size: 28px;

            @media (max-width:400px) {
                font-size: 20px !important;
            }
        }

        .pantoDropdown a {
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
        }

        .basic-nav-dropdown span {
            font-family: 'Gilroy-Medium';
            background-color: $primary-color;
        }

        .pantoShop {
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
            padding-left: 69px !important;
        }

        .pantoAbout {
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
            padding-left: 62px !important;
        }

        .pantoContact {
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
            padding-left: 64px !important;
        }
    }

    .pantoLogo {
        position: absolute;
        right: 40px;
        top: 45px;

        @media (max-width:map-get($breakpoints, lg)) {
            display: inline-block !important;
        }

        .counter {
            font-size: 15px;
            color: $primary-color;
            position: absolute;
            padding: 3px 6px 3px 6px;
            right: 0px;
            top: 0px;
            background-color: $secondary-color;
            border-radius: 50%;
        }
    }
}

.footer-class {
    background-color: #F7F7F7;
    margin-top: 244px;
    padding-block: 118px;

    @media(max-width:575px) {
        text-align: center;
        margin-top: 86px;
    }

    .footer-container {
        margin-inline: 0;
    }

}

.footer_main_title {
    color: #1e1e1e;
    width: 293px;
    margin-inline: auto;
    font-family: 'Gilroy-Bold';
    font-size: 28px;
    letter-spacing: .01em;
    line-height: 33px;
    margin-bottom: 19px;
    text-transform: capitalize;

}

.footer_main_content {
    width: 293px;
    margin-left: 188px;
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 24px;
    color: #1E1E1E;
    opacity: 0.8;

    @media(max-width:map-get($breakpoints, xl)) {
        margin: auto;
        width: 80%  ;
    }
    @media(max-width:map-get($breakpoints, lg)) {
        margin: auto;
        width: 80%  ;
    }
    @media(max-width:map-get($breakpoints, md)) {
        margin: auto;
        width: 80%  ;
    }

    @media(max-width:map-get($breakpoints, sm)) {
        width: 80%  ;
        margin: auto;
    }




}

.sublist_heading {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    color: #F6973F;


}

.footer_sub {
    padding-left: 70px;
   

    @media(max-width:map-get($breakpoints, xxl)) {
        padding-left: 200px;
        justify-content: space-between;
    }

    @media(max-width:map-get($breakpoints, xl)) {
        padding-left: 63px;
    }



    @media(max-width:map-get($breakpoints, md)) {
        margin-inline: 0px;
        padding-left: 0;
    }

    @media(max-width:map-get($breakpoints, sm)) {
        margin-inline: 0px;
        padding-left: 0;
    }
}

.footer_list {
    padding-inline: 25px;
}

ul {
   .icon_Class{
        display: flex;   
        @media(max-width:map-get($breakpoints, md)) {
            justify-content: center;
         }

        @media(max-width:map-get($breakpoints, sm)) {
           justify-content: center;
        }
    }
    .icon{
        width: 30px;
        margin-right: 0;
     
        
    }
    color: #1E1E1E;
    opacity: 0.8;
    list-style: none;


    a {
        font-family: 'Gilroy-Medium';
        font-size: 15px;
        line-height: 32px;
        text-decoration: none;
        color: #1E1E1E;

        opacity: 0.8;
    }
}

.copyright {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #1E2833;
    mix-blend-mode: normal;
    opacity: 0.5;

    @include xs{
        line-height: 4;
    }

}

.terms {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 160%;
    color: #1E1E1E;
    opacity: 0.8;
}

.privacy {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 160%;
    color: #1E1E1E;
    opacity: 0.8;
}