@import '../../assets/scss/App.scss';

.clients {
    margin-top: 340px;



    @media(max-width:map-get($breakpoints, xl)) {
        margin-top: 10px;
    }

    @media(max-width:map-get($breakpoints, lg)) {
        margin-top: 0px;
    }

    @media(max-width:map-get($breakpoints, md)) {
        margin-top: -50px;
    }

    @media(max-width:map-get($breakpoints, sm)) {
        margin-top: -100px;
    }

    .client_title {
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.175em;
        text-transform: uppercase;
        color: #E58411;

        justify-content: center;
    }

    .client_reviews {
        font-family: 'Gilroy-Bold';
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        text-transform: capitalize;
        color: #1E1E1E;
        margin-top: 20px;
        justify-content: center;
        margin-bottom: 60px;


        @include xs {
            font-size: 29px;
            line-height: 41px;
            margin-top: 8px;
            justify-content: center;
            margin-bottom: 56px;
        }


    }
}

.card-row {

    @include xl {
        padding-inline: 150px;
    }

    @media(max-width:1199px) {
        padding-inline: 73px;
    }

    @include lg {
        padding-inline: 0;
    }

    @include md {
        padding-inline: 0;
    }

    @include sm {
        padding-inline: 0;
    }

    @include xs {
        padding-inline: 0;
    }


    .slick-prev:before {
        content: none !important;
    }

    .slick-prev {
        background: url('../../assets/images/leftAero.svg');
        background-repeat: no-repeat;
        box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
        border-radius: 26.087px;
        width: 50px;
        height: 50px;
        background-position: center;
        background-color: white;
        z-index: 100 !important;

        @media (max-width :1440px) {
            left: -6px;
            top: 34%;
        }

        @media (max-width :map-get($breakpoints , xl)) {
            left: -2px;
        }

        @media (max-width :map-get($breakpoints , lg)) {
            left: 30px;
        }

        @media (max-width :map-get($breakpoints , md)) {
            left: 20px;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            left: 40px;
        }

        @media (max-width :map-get($breakpoints , xs)) {
            left: 1px;
        }
    }

    .slick-next:before {
        content: none !important;
    }

    .slick-next {
        background: url('../../assets/images/rightAero.svg');
        background-repeat: no-repeat;
        box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
        border-radius: 26.087px;
        width: 50px;
        height: 50px;
        background-position: center;
        background-color: white;
        z-index: 100 !important;

        @media (max-width :1440px) {
            right: -6px;
            top: 34%;
        }

        @media (max-width :map-get($breakpoints , xl)) {
            right: 1px;
        }

        @media (max-width :map-get($breakpoints , lg)) {
            right: 30px;
        }

        @media (max-width :map-get($breakpoints , md)) {
            right: 20px;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            right: 40px;
        }

        @media (max-width :map-get($breakpoints , xs)) {
            right: 1px;
        }
    }
}

.imgCard {
    position: relative;
    padding-inline: 10px;

    @media(max-width:426px) {
        padding-inline: 0 !important;
    }


    @media(max-width:426px) {
        padding-inline: 0 !important;
    }

    .bgImg {


        @media(max-width:map-get($breakpoints, lg)) {
            margin: auto;
        }

        @media(max-width:map-get($breakpoints, md)) {
            margin: auto;
        }

        @include sm {
            margin: auto;
        }

        @media(max-width:396px) {
            width: 97%;
            left: -4%;
        }


    }

    .textCard {
        position: absolute;
        bottom: 3%;
        right: 7%;
        left: 7%;

        @media(max-width:map-get($breakpoints, lg)) {
            margin: auto;
        }

        @media(max-width:map-get($breakpoints, md)) {
            margin: auto;
        }

        @include sm {
            margin: auto;
        }

        .detail_card {
            position: absolute;
            top: 10%;


            @media(max-width:992px) {
                top: 11%;
                left: 6%;
                width: 343px;
            }

            @media(max-width:991px) and (min-width:769px) {
                top: 11%;
                left: 21.5%;
                width: 335px;
            }

            @include md {
                top: 11%;
                left: 21%;
                width: 343px;
            }

            @media(max-width:767px) and (min-width:576px) {
                top: 11% !important;
                left: 11.5% !important;
                width: 335px !important;
            }

            @media(max-width:575px) {
                top: 11%;
                left: 13%;
                width: 343px;
            }


            @media(max-width:574px) and (min-width:556px) {
                top: 11%;
                left: 11.5%;
                width: 335px;
            }

            @media(max-width:555px) and (min-width:536px) {
                top: 11%;
                left: 12%;
                width: 335px;
            }

            @media(max-width:535px) and (min-width:506px) {
                top: 11%;
                left: 10.2%;
                width: 335px;
            }

            @media(max-width:505px) and (min-width:500px) {
                top: 11%;
                left: 8%;
                width: 335px;
            }

            @media(max-width:499px) and (min-width:470px) {
                top: 11%;
                left: 6%;
                width: 335px;
            }

            @media(max-width:469px) and (min-width:449px) {
                top: 11%;
                left: 2.8%;
                width: 335px;
            }

            @media(max-width:448px) and (min-width:440px) {
                top: 11%;
                left: 3%;
                width: 335px;
            }

            @media(max-width:439px) and (min-width:397px) {
                top: 11%;
                left: -1%;
                width: 335px;
            }

            @media(max-width:397px) and (min-width:390px) {
                top: 11%;
                left: 1%;
                width: 310px;

            }

            @media(max-width:389px) and (min-width:351px) {
                top: 11%;
                left: 0%;
                width: 310px;

            }

            @media(max-width:350px) and (min-width:320px) {
                top: 11%;
                left: -11%;
                width: 310px;

            }

            .details {
                padding-inline: 11%;
                text-align: center;
                margin-top: 10%;
                width: 344px;

                @media(max-width:map-get($breakpoints, lg)) {
                    margin: auto;
                    margin-top: 10%;
                }

                @media(max-width:map-get($breakpoints, md)) {
                    margin-top: 10%;

                }

                @include xs {
                    width: 90%;
                }

                .clientImg {
                    position: absolute;
                    top: -13%;
                    left: 41%;

                    @media(max-width:map-get($breakpoints, lg)) {
                        left: 44%;
                    }

                    @include xs {
                        width: 12%;

                        top: -10%;
                    }




                }

                .client_title {
                    font-family: 'Gilroy-Bold';
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    text-transform: capitalize;
                    color: #1E1E1E;
                    padding-top: 13px;
                    margin-bottom: 6px;
                    letter-spacing: 0;

                    @include xs {
                        margin-bottom: 3px;
                        padding-top: 0px;
                    }
                }

                .client_name {
                    font-family: 'Gilroy-Regular';
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    color: #1E1E1E;
                    opacity: 0.6;
                    margin-bottom: 12px;

                    @include xs {
                        margin-bottom: 3px;
                    }

                }

                .client_detail {
                    font-family: 'Gilroy-Regular';
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: #1E1E1E;
                    opacity: 0.8;
                    margin-top: 22px;

                    @include xs {
                        margin-top: 8px;
                    }
                }

                .client_star {
                    position: absolute;
                    top: 180px;
                    left: 120px;
                    width: 90px;

                    @include xs {
                        top: 140px;
                    }

                }

            }

        }



    }
}