@import '../assets/scss/App.scss';
.slick-slider{
    width: 100%;
}
.chair {
    margin-top: 80px;


    .chairCard {
        background: white;
        border-radius: 20px;
        width: 268px;
        height: 442px;
       

        @media (max-width :map-get($breakpoints , xl)) {
            margin-inline: 120px;

        }


        @media (max-width :map-get($breakpoints , lg)) {
            margin: auto;
        }


        @media (max-width :map-get($breakpoints , md)) {
            margin: auto;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            margin: auto;
        }
    }

    .chair_img {
        background: #FAFAFA
    }

    .imgs {
        margin-top: -50px;
        margin-inline: 18px;
        justify-content: center;
    }

    .text_area {
        margin-inline: 21px;
        margin-top: 13px;
        margin-bottom: 27px;

    }

    .sub {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16.7554px;
        line-height: 20px;
        color: #8D8D8D;
    }

    .names {
        margin-block: 6px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 21.3251px;
        line-height: 26px;
        text-transform: capitalize;
        color: #0D1B39;
    }

    .star {
        margin-top: 8px;
    }

    .dollar {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15.2322px;
        line-height: 18px;
        display: flex;
        margin-top: 5px;
    }

    .price {
        font-size: 21.3251px;
        color: #0D1B39;
        margin-left: 9px;
        margin-top: 50px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        padding: 5px;
        line-height: 36px;
        color: #0D1B39
    }

    .aero {
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 26px;
        color: #E58411;
        margin-top: 60px;
        text-align: center;
        padding-bottom: 50px;
    }

    .plus {

        width: 48.74px;
        height: 48.74px;
        left: 319.02px;
        top: 2190.84px;

        align-items: flex-start;
        padding: 12.1858px;
        gap: 15.23px;

        background: #0D1B39;
        border-radius: 31px;
    }
}