@import '../assets/scss/App.scss';


.container-fluid{
    padding: 120px 80px 00px 80px ;
    @media (max-width:map-get($breakpoints,lg)) {
        padding: 80px 80px 00px 80px ;
    }
    @media (max-width:400px) {
        padding: 60px 80px 00px 80px ;
    }
    .choose{
        margin-inline: 80px;
        margin-bottom: 120px;
    }
    .choosingUsText {
        font-size: 42px;
        width: 242px;
        font-family: 'Gilroy-Bold';
        text-align: left;
        @media (max-width:map-get($breakpoints,xl)) {
            width: 100% ;
            text-align: center;
            padding-bottom: 20px;
        }
        @media (max-width:map-get($breakpoints,sm)) {
            width: 100% ;
            text-align: center;
            padding-bottom: 10px;
            font-size: 30px ;
            margin-top: -10px;
        }
        @media (max-width:400px) {
            width: 100% ;
            padding-bottom: 00px;
            font-size: 25px;
        }
    }
    .choosingUsOptions{
        padding-left: 0px !important;
        .choosingUsTitle{
            font-size: 24px;
            font-family: 'Gilroy-Bold';
            @media (max-width:map-get($breakpoints,sm)) {
                font-size: 20px ;
            }
            @media (max-width:400px) {
                font-size: 17px ;
            }
        }
        .choosingUsContent{
            @media (max-width:map-get($breakpoints,xl)) {
               text-align: center ;
            }
        }
        .choosingUsDescription{
            font-size: 16px;
            font-family: 'Gilroy-Regular';
            line-height: 29.6px;
            @media (max-width:map-get($breakpoints,xl)) {
                width: 200px;
                margin: auto;
                font-size: 15px;
             }
             
             @media (max-width:map-get($breakpoints,sm)) {
                width: 250px;
                font-size: 12px;
             }
             @media (max-width:400px) {
                width: 150px;
                margin: auto;
                font-size: 10px;
             }
        }
        .choosingUsBtn{
            @media (max-width:map-get($breakpoints,xl)) {
                margin-top: -15px ;
                margin-bottom: 20px;
             }
        }
    }
}