@import '../assets/scss/App.scss';

.clients {
    margin-top: 340px;

    @media(max-width:map-get($breakpoints, xl)) {
        margin-top: 10px;
    }

    @media(max-width:map-get($breakpoints, lg)) {
        margin-top: 0px;
    }

    @media(max-width:map-get($breakpoints, md)) {
        margin-top: -50px;
    }

    @media(max-width:map-get($breakpoints, sm)) {
        margin-top: -100px;
    }

    .client_title {
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        letter-spacing: 0.175em;
        text-transform: uppercase;
        color: #E58411;

        justify-content: center;
    }

    .client_reviews {
        font-family: 'Gilroy-Bold';
        font-size: 42px;
        line-height: 49px;
        text-align: center;
        text-transform: capitalize;
        color: #1E1E1E;
        margin-top: 20px;
        justify-content: center;
        margin-bottom: 60px;
    }
}

.card-row {

    @include xl {
        padding-inline: 150px;
    }

    @media(max-width:1199px) {
        padding-inline: 73px;
    }

    @include lg {
        padding-inline: 0;
    }

    @include md {
        padding-inline: 0;
    }

    @include sm {
        padding-inline: 0;
    }

    @include xs {
        padding-inline: 0;
    }


    .slick-prev:before {
        content: none !important;
    }

    .slick-prev {
        background: url('../assets/images/leftAero.svg');
        background-repeat: no-repeat;
        box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
        border-radius: 26.087px;
        width: 50px;
        height: 50px;
        background-position: center;
        z-index: 100 !important;

        @media (max-width :map-get($breakpoints , lg)) {
            left: 26px;
        }

        @media (max-width :map-get($breakpoints , md)) {
            left: 20px;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            left: 40px;
        }

        @media (max-width :map-get($breakpoints , xs)) {
            left: 1px;
        }
    }

    .slick-next:before {
        content: none !important;
    }

    .slick-next {
        background: url('../assets/images/rightAero.svg');
        background-repeat: no-repeat;
        box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
        border-radius: 26.087px;
        width: 50px;
        height: 50px;
        background-position: center;
        background-color: white;
        z-index: 100 !important;



        @media (max-width :map-get($breakpoints , xl)) {
            right: -19px;
        }

        @media (max-width :map-get($breakpoints , lg)) {
            right: 26px;
        }

        @media (max-width :map-get($breakpoints , md)) {
            right: 20px;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            right: 40px;
        }

        @media (max-width :map-get($breakpoints , xs)) {
            right: 1px;
        }
    }

 
}


.imgCard {
    position: relative;
    padding-inline: 10px;

    @media(max-width:426px) {
        padding-inline: 0 !important;
    }


    @media(max-width:426px) {
        padding-inline: 0 !important;
    }

    .bgImg {


        @media(max-width:map-get($breakpoints, lg)) {
            margin: auto;
        }

        @media(max-width:map-get($breakpoints, md)) {
            margin: auto;
        }

        @include sm {
            margin: auto;
        }


    }

    .textCard {
        position: absolute;
        bottom: 5%;
        right: 5%;
        left: 5%;

        @media(max-width:map-get($breakpoints, lg)) {
            margin: auto;
        }

        @media(max-width:map-get($breakpoints, md)) {
            margin: auto;
        }

        @include sm {
            margin: auto;
        }

        .detail_card {
            position: absolute;
            top: 10%;

            @include lg {
                top: 11%;
                left: 8%;
                width: 343px;
            }

            @media(max-width:991px) {
                top: 11%;
                left: 22%;
                width: 335px;
            }

            @include md {
                top: 11%;
                left: 22%;
                width: 343px;
            }

            @media(max-width:767px) and (min-width:575px) {
                top: 11% !important;
                left: 13% !important;
                width: 335px !important;
            }

            @include sm {
                top: 11%;
                left: 12%;
                width: 343px;
            }



            @media(max-width:575px) and (min-width:556px) {
                top: 11%;
                left: 14.5%;
                width: 335px;
            }

            @media(max-width:554px) and (min-width:535px) {
                top: 11%;
                left: 13%;
                width: 335px;
            }

            @media(max-width:534px) and (min-width:509px) {
                top: 11%;
                left: 12%;
                width: 335px;
            }

            @media(max-width:508px) and (min-width:500px) {
                top: 11%;
                left: 11%;
                width: 335px;
            }

            @media(max-width:449px) and (min-width:320px) {
                top: 11%;
                left: -1%;
                width: 335px;
            }


            .details {
                padding-inline: 11%;
                text-align: center;
                margin-top: 10%;
                width: 344px;

                @media(max-width:map-get($breakpoints, lg)) {
                    margin: auto;
                    // width: 100%;
                    margin-top: 10%;
                }

                @media(max-width:map-get($breakpoints, md)) {
                    margin-top: 10%;

                }


                .clientImg {
                    position: absolute;
                    top: -13%;
                    left: 41%;

                    @media(max-width:map-get($breakpoints, lg)) {
                        left: 44%;
                    }

                    @media(max-width:map-get($breakpoints, md)) {}

                    @include sm {}

                }

                .client_title {
                    font-family: 'Gilroy-Bold';
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    text-transform: capitalize;
                    color: #1E1E1E;
                    margin-bottom: 6px;
                }

                .client_name {
                    font-family: 'Gilroy-Regular';
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    color: #1E1E1E;
                    opacity: 0.6;
                    margin-bottom: 12px;
                }

                .client_reviews {
                    font-family: 'Gilroy-Regular';
                    font-size: 14px;
                    line-height: 16px;
                    text-align: center;
                    color: #1E1E1E;
                    opacity: 0.8;
                }

                .client_star {
                    position: absolute;
                    top: 180px;
                    left: 120px;
                    width: 90px;
                }

            }

        }



    }
}