@import '../assets/scss/App.scss';

.experience {
    margin-top: 240px;

}

.img_class {
    position: relative;
    height: 520px;

    @media (max-width :map-get($breakpoints , lg)) {
        margin-top: -180px !important;
    }

    @media (max-width :map-get($breakpoints , md)) {
        margin-top: -167px !important;
    }

    @media (max-width :map-get($breakpoints , sm)) {
        margin-top: -100px !important;
    }
   
    @media (max-width :480px) {
        height: 200px !important;
    }

    .firstBehindImg {
        z-index: -1;
        position: absolute;
        max-width: 100%;
        left: 0;
        right: 172px;
        top: 0;

        @media (max-width :map-get($breakpoints , lg)) {
            max-width: 80%;
        }

        @media (max-width :map-get($breakpoints , md)) {
            max-width: 55%;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            max-width: 45%;
        }

        @media (max-width :480px) {
            max-width: 50%;
        }
    }

    .frontImg {
        top: 66px;
        left: 0;
        position: absolute;
        max-width: 100%;

        @media (max-width :map-get($breakpoints , md)) {
            max-width: 62%;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            max-width: 64%;
        }

        @media (max-width :480px) {
            max-width: 50%;
            top: 32px;
        }

    }

    .secondBehindImg {
        position: absolute;
        left: 192px;
        top: 138px;
        z-index: -1;
        max-width: 100%;


        @media (max-width :map-get($breakpoints , xl)) {
            max-width: 80%;
            top: 100px;
            left: 180px;
        }

        @media (max-width :map-get($breakpoints , lg)) {
            max-width: 80%;
            top: 97px;
            right: 327px
        }

        @media (max-width :map-get($breakpoints , md)) {
            max-width: 56%;
            top: 97px;
            left: 14%;

        }

        @media (max-width :map-get($breakpoints , sm)) {
            max-width: 60%;
            top: 97px;
            left: 10%;
        }

        @media (max-width :480px) {
            max-width: 50%;
            left: 40px;
            top: 50px;
        }

    }
}
.text-class{
    @media (max-width :575px) {
        text-align: center;
    }
}
.experiences {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.175em;
    color: #E58411;
    text-transform: uppercase;
    margin-top: 83px;
    margin-left: 141px;
    margin-bottom: 20px;

    @media (max-width :map-get($breakpoints , xl)) {
        margin-left: 0;
 
    }


    @media (max-width :map-get($breakpoints , md)) {
        margin-left: 0;
    }

    @media (max-width :map-get($breakpoints , sm)) {
        margin-left: 0;
        margin-top: -58px;
    }
    @media (max-width :575px) {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
    @media (max-width :480px) {
        font-size: 12px !important;
        margin-top: 20px !important;
    }
    @media (max-width :420px) {
        font-size: 12px !important;
        margin-top: 10px !important;
    }

}

.title {
    font-family: 'Gilroy-Bold';
    font-size: 42px;
    line-height: 49px;
    margin-left: 141px;
    text-transform: capitalize;
    width: 413px;
    color: #1E1E1E;

    @media (max-width :map-get($breakpoints , xl)) {
        margin-left: 0;
        width: 100%;
    }

    @media (max-width :map-get($breakpoints , lg)) {
        margin-left: 0;
    }
    @media (max-width :map-get($breakpoints , md)) {
        margin-left: 0;
    }

    @media (max-width :map-get($breakpoints , sm)) {
        margin-left: 0;
    }

    @media (max-width :575px) {
        font-size: 20px;
        line-height: 20px;
        text-align: center;
    }
}

.detail {
    font-family: 'Gilroy-Regular';
    font-size: 18px;
    line-height: 33px;
    color: #1E1E1E;
    opacity: 0.8;
    margin-left: 141px;
    // width: 556px;
    margin-top: 20px;

    @media (max-width :map-get($breakpoints , xl)) {
        margin-left: 0px;

        line-height: 28px;
    }

    @media (max-width :map-get($breakpoints , md)) {
        margin-left: 0px;
    }

    @media (max-width :map-get($breakpoints , sm)) {
        margin-left: 0;
    }

    @media (max-width :575px) {
        font-size: 11px;
        
        line-height: 15px;
        text-align: center;
    }

}

.aero_experience {
    font-family: 'Gilroy-Medium';
    font-size: 14px;
    line-height: 26px;
    color: #E58411;
    margin-left: 141px;
    margin-top: 24px;


    @media (max-width :map-get($breakpoints , xl)) {
        margin-left: 0;;
    }

    @media (max-width :map-get($breakpoints , md)) {
        margin-left: 0;
    }

    @media (max-width :map-get($breakpoints , sm)) {
        margin-left: 0;
    }

    @media (max-width :575px) {
        font-size: 11px;
        text-align: center;
        line-height: 11px;
    }

}