@import '../assets/scss/App.scss';

.main_Heading {
    font-size: 80px;
    color: white;
    font-family: 'Gilroy-Bold';
    margin-inline: 260px;
    text-align: center;
    margin-top: 110px;
    line-height: 104px;
    

    @media (max-width:map-get($breakpoints, xxl)) {
        font-size: 50px !important;
        margin-top: 80px !important;
        line-height: 60px !important;
        margin-inline: 110px !important;
    }
    @media (max-width:map-get($breakpoints, xl)) {
        font-size: 50px !important;
        margin-top: 80px !important;
        line-height: 60px !important;
        margin-inline: 100px !important;
    }

    @media (max-width:map-get($breakpoints, lg)) {
        font-size: 40px !important;
        margin-top: 70px !important;
        line-height: 60px !important;
        margin-inline: 90px !important;
    }

    @media (max-width:map-get($breakpoints, md)) {
        font-size: 30px !important;
        margin-top: 68px !important;
        line-height: 50px !important;
        margin-inline: 80px !important;
    }

    @media (max-width:map-get($breakpoints, sm)) {
        font-size: 24px !important;
        margin-top: 38px !important;
        line-height: 40px !important;
        margin-inline: 50px !important;
    }

}

.sub_Heading {
    font-family: 'Gilroy-Regular';
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.8;
    margin-top: 14px;
    margin-inline: 388px;

    @media (max-width:map-get($breakpoints, xl)) {
        font-size: 20px !important;
        line-height: 34px  !important;
        margin-top: 12px  !important;
        margin-inline: 320px  !important;
    }

    @media (max-width:map-get($breakpoints, lg)) {
        font-size: 16px !important;
        line-height: 30px  !important;
        margin-top: 8px  !important;
        margin-inline: 260px  !important;
    }

    @media (max-width:map-get($breakpoints, md)) {
         font-size: 12px !important;
        line-height: 21px  !important;
        margin-top: 8px  !important;
        margin-inline: 200px  !important;
    }

    @media (max-width:map-get($breakpoints, sm)) {
        font-size: 8px !important;
        line-height: 10px  !important;
        margin-top: 8px  !important;
        margin-inline: 80px  !important;
    }
}

.input_div {
    position: relative;
    margin-top: 10px;
    margin-inline: 578px;
    padding: 8px 8px 8px 20px;
    border: 0.861538px solid rgba(255, 255, 255, 0.6);
    border-radius: 42px;
    align-items: center;
    background: rgba(255, 255, 255, 0.15);
    width: 344px;

    .searchbar_icon {
        position: absolute;
        right: 3px;
        top: 2px;
    }
}

.input_text {
    background: transparent;
    border: 0;

    font-family: 'Gilroy-Regular';
    line-height: 27px;
    font-size: 18px;
}