.material {
    margin-top: 100px;
    margin-bottom: 200px;
    

    .materials {
        font-family: 'Gilroy-Medium';
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.175em;
        text-transform: uppercase;
        margin-top: 264px;
        color: #E58411;
        margin-left: 80px;
        margin-bottom: 20px;
    }

    .material_title {
        margin-left: 80px;
        font-family: 'Gilroy-Bold';
        font-size: 42px;
        line-height: 49px;
        text-transform: capitalize;
        width: 413px;
        color: #1E1E1E;
        margin-bottom: 20px;

    }

    .material_detail {
        font-family: 'Gilroy-Regular';
        font-size: 18px;
        line-height: 33px;
        color: #1E1E1E;
        width: 556px;
        margin-left: 80px;
        opacity: 0.8;
        margin-bottom: 24px;
    }

    .aero_text {
        margin-left: 80px;
    }
}

.imgs_section {
    position: relative;
    top: 170px;
    

    .m_img1 {
        position: absolute;
        margin-right: 487px;
        margin-bottom: 47px;
     
    }

    .m_img2 {
        position: absolute;
        top: 276px;
        
    }

    .m_img3 {
        position: absolute;
        right: 0;
        top: 145px;
    }

    .m_img4 {
        position: absolute;
        right: 0;
        z-index: -1;
        top: 74px;
    }
}