@import '../../assets/scss/App.scss';

.slick-slider {
    width: 100%;
}

.chair {
    margin-top: 80px;


    .slick-prev:before {
        content: '' !important;
    }

    .slick-prev {
        background: url('../../assets/images/leftAero.svg');
        background-repeat: no-repeat;
        box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
        border-radius: 26.087px;
        width: 50px;
        height: 50px;
        z-index: 100;
        background-color: white;
        background-position: center;

        @media (max-width :1440px) {
            left: -9px;
            top: 45%;
        }

        @media (max-width :map-get($breakpoints , lg)) {
            left: 15px;
        }

        @media (max-width :map-get($breakpoints , md)) {
            left: 98px;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            left: 50px;
        }

        @media (max-width :map-get($breakpoints , xs)) {
            left: 1px;
        }
    }
    .slick-prev:focus,
    .slick-prev:hover {
       background-position: center;
       background-repeat: no-repeat;
    }

    .slick-next:before {
        content: '' !important;
    }

    .slick-next {
        background: url('../../assets/images/rightAero.svg');
        background-repeat: no-repeat;
        box-shadow: 0px 7.03125px 19.5312px rgba(0, 0, 0, 0.06);
        border-radius: 26.087px;
        width: 50px;
        z-index: 100;
        background-color: white;
        height: 50px;
        background-position: center;


        @media (max-width :1440px) {
            right: -9px;
            top: 45%;
        }

        @media (max-width :map-get($breakpoints , lg)) {
            right: 15px;
        }

        @media (max-width :map-get($breakpoints , md)) {
            right: 98px;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            right: 50px;
        }

        @media (max-width :map-get($breakpoints , xs)) {
            right: 1px;
        }

        .slick-next:focus,
        .slick-next:hover {
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    .chairCard {
        background: white;
        border-radius: 20px;
        width: 268px;
        height: 430px;
        position: relative;

        @media (max-width :map-get($breakpoints , xl)) {
            margin-inline: 120px;


        }

        @media (max-width :map-get($breakpoints , lg)) {
            margin: auto;
        }


        @media (max-width :map-get($breakpoints , md)) {
            margin: auto;
        }

        @media (max-width :map-get($breakpoints , sm)) {
            margin: auto;
        }
    }

    .chair_img {
        background: #FAFAFA;
        height: 240px;
    }

    .imgs {
        margin-top: -50px;
        margin-inline: 18px;
        justify-content: center;
        position: absolute;

        @media (max-width :map-get($breakpoints , xs)) {
            margin-top: -31px;
            overflow-y: hidden;
        }


    }

    .text_area {
        margin-inline: 21px;
        margin-top: 13px;
        margin-bottom: 27px;

    }

    .sub {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16.7554px;
        line-height: 20px;
        color: #8D8D8D;
    }

    .names {
        margin-block: 6px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 21.3251px;
        line-height: 26px;
        text-transform: capitalize;
        color: #0D1B39;
    }

    .star {
        margin-top: 8px;
    }

    .dollar {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 15.2322px;
        line-height: 18px;
        display: flex;
        margin-top: 5px;
    }

    .price {
        font-size: 21.3251px;
        color: #0D1B39;

        margin-top: 12px;
        font-family: "Inter";
        font-style: normal;
        font-weight: 600;

        line-height: 36px;
        color: #0D1B39
    }

    .aero {
        font-family: 'Gilroy-Medium';
        font-size: 14px;
        line-height: 26px;
        color: #E58411;
        padding-top: 60px;
        text-align: center;
        padding-bottom: 50px;
    }

    .plus {

        width: 48.74px;
        height: 48.74px;
        left: 319.02px;
        top: 2190.84px;

        align-items: flex-start;
        padding: 12.1858px;
        gap: 15.23px;

        background: #0D1B39;
        border-radius: 31px;
    }
}