
.footer-class{
    background-color: #F7F7F7;
    margin-top: 244px;
    padding-block: 118px;
    // margin-inline: 180px;    
}
.footer_main_title {
    color: #1e1e1e;
    font-family: 'Gilroy-Bold';
    font-size: 28px;
    letter-spacing: .01em;
    line-height: 33px;
    margin-bottom: 19px;
    text-transform: capitalize;
}

.footer_main_content {

    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 24px;
    color: #1E1E1E;
    opacity: 0.8;
}

.sublist_heading {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    color: #F6973F;


}
.footer_list{
    padding-inline: 55px;
}

ul {
    font-family: 'Gilroy-Medium';
    font-size: 15px;
    line-height: 24px   ;
    color: #1E1E1E;
    opacity: 0.8;
}