@import '../../assets/scss/App.scss';
@import '../../assets/fonts/style.css';

// .panto{
//     font-size: 28px !important;
//     margin-left: 80px ;
//     margin-top: 40px;
// }

.basket {
    position: absolute;

    &_badge {
        position: relative;
        background-color: $badge-color;
        left: 18px;
        border-radius: 50%;
        padding: 2px 4px;
        top: 2px;
        font-size: 12px;
    }
}