@import '../../assets/scss/App.scss';
@import '../../assets/fonts/style.scss';


.header{
    .pantoHeader{
        font-family: 'Gilroy-Bold';
        padding: 40px 90px 00px 100px;
        @media (max-width:map-get($breakpoints,sm)) {
            padding: 40px 50px 00px 50px !important;
         }
        .navbar-toggler-icon{
            background-color: $primary-color;
        }
        .pantoTitle{
            font-size: 28px;
            @media (max-width:400px) {
                font-size: 20px !important;
            }
        }
        .pantoDropdown a {
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
        }
        .basic-nav-dropdown span {
            font-family: 'Gilroy-Medium';
            background-color : $primary-color;
        }
        .pantoShop{
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
            padding-left: 69px !important;
        }
        .pantoAbout{
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
            padding-left: 62px !important;
        }
        .pantoContact{
            font-family: 'Gilroy-Medium';
            color: $primary-color;
            font-size: 18px;
            padding-left: 64px !important;
        }
    }
    .pantoLogo{
        position: absolute;
        right: 40px;
        top: 45px;
         @media (max-width:map-get($breakpoints,lg)) {
                display: inline-block !important;
        }
        .counter{
            font-size: 15px;
            color: $primary-color;
            position: absolute;
            padding: 3px 6px 3px 6px;
            right: 0px;
            top: 0px;
            background-color: $secondary-color;
            border-radius: 50%;
        }
    }
}